
@{
    ViewBag.Title = "Hastags";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<p class="hastags-chutieude">Hastags</p>

<div>

    <div class="hastags-content">
        <div class="hastags-img">
            <a href="d"><img class="hastags-imglink" src="https://cdn.thesaigontimes.vn/wp-content/uploads/2022/01/Anh-bai-4.jpg" /></a>
        </div>
        <div>
            <div class="hastags-chu">
                <a href="d">So kè Mitsubishi Xpander và Toyota Veloz: Cùng giá, cùng là Nhật nhưng ai hơn ai?</a>
            </div>
            <div class="hastag-ngaytao">
                <i class="fa-solid fa-calendar"> 05/11/2022</i>
            </div>
        </div>
    </div>

    <div class="hastags-content">
        <div class="hastags-img">
            <a href="d"><img class="hastags-imglink" src="https://cdn.thesaigontimes.vn/wp-content/uploads/2022/01/Anh-bai-4.jpg" /></a>
        </div>
        <div>
            <div class="hastags-chu">
                <a href="d">So kè Mitsubishi Xpander và Toyota Veloz: Cùng giá, cùng là Nhật nhưng ai hơn ai?</a>
            </div>
            <div class="hastag-ngaytao">
                <i class="fa-solid fa-calendar"> 05/11/2022</i>
            </div>
        </div>
    </div>
</div>