body {
}

body {
}
.nav-3 {
    display: flex;
    margin-top: 30px;
    margin-left:50px;
}
.slide-to
{
    margin-top:10px;
}
#imgcon {
    width: 1150px;
    height: 400px;
    position: relative;
    opacity: 0.9;
}
.btn-slide .btnnext {
    position: absolute;
    right: 63px;
    bottom: 10px;
}

.btn-slide .btnpre {
    position: absolute;
    left: 50px;
    bottom: 10px;
}
.chu-slide > a 
{
    position: absolute;
    bottom: -160px;
    left: 60px;
    font-size: 29px;
    color: rgb(255, 250, 250);
    text-decoration:none;
}
.tieude {
    background-color: #111111;
    width: 100%;
    height: 35px;
}

.thoitiet {
    display: flex;
}

.thoitietdammay > i {
    color: white;
    margin-top: 9px;
    margin-left: 150px;
}

.thoitietthongtin > p {
    color: white;
    margin-top: 11px;
    margin-left: 20px;
    font-size: 14px;
}

.nhietdo {
    color: white
}

.thoitietngaythang > p {
    color: white;
    margin-top: 11px;
    margin-left: 30px;
    font-size: 14px;
}

.logo1 > i {
    color: white;
    margin-top: 9px;
    margin-left: 485px;
    font-size: 16px;
}

.logo2 > i {
    color: white;
    margin-top: 9px;
    margin-left: 30px;
    font-size: 16px;
}

.tieude2 {
    display: flex;
}

.imglogo > img {
    width: 600px;
    height: 270px;
}

.imggif {
    background-color: #1D8FBD;
    width: 700px;
    height: 270px;
}

.tieude3 {
    background-color: #3399CC;
    width: 100%;
    height: 55px;
    display: flex;
    margin-top: -3px
}

.theloai2 {
    margin-left: 63px;
    margin-top: 20px
}

    .theloai2 > a {
        color: white;
        font-size: 16px;
        text-decoration: none;
    }

.xahoi {
    margin-left: 62px;
    margin-top: 20px
}

    .xahoi > a {
        color: white;
        font-size: 16px;
        text-decoration: none;
    }

.ip-search {
    width: 215px;
    border-color: white;
    outline: none;
    margin-top: 15px;
    margin-left: 50px
}

.div-bt {
    margin-left: 233px;
    margin-top: -21px;
}

    .div-bt > button {
        background-color: white;
        border-color: white;
        outline: none;
        height: 22px;
    }

.tieudiem 
{
    display: flex;
}

.imgcontentt > img {
    margin-left: 50px;
    margin-top: 10px;
    width: 650px;
    height: 300px;
}

.chutinmoi {
    margin-top: 37px;
    margin-left: 50px;
}

    .chutinmoi > p {
        font-size: 21px;
        color: #3399CC;
    }

.mau {
    width: 35px;
    background-color: #1D8FBD;
    height: 3px;
    margin-left: 52px;
}

.chuduoianhcontent {
    margin-left: 54px;
    margin-top: -49px;
    width: 650px;
}

    .chuduoianhcontent > a {
        font-size: 22px;
        color: white;
        text-decoration: none;
    }

        .chuduoianhcontent > a:hover {
            color: gainsboro;
        }

.btn-content {
    margin-top: 42px;
    margin-left: 50px;
}

.content2 {
    display: flex;
}

.imgcontent2 {
    margin-left: 20px;
    margin-top: 10px;
}

    .imgcontent2 > img {
        width: 232px;
        height: 143px;
    }

.noidungchu {
    margin-left: 12px;
    width: 250px;
    margin-top: 10px;
}

    .noidungchu > a {
        font-size: 16px;
        text-decoration: none;
        color: black;
    }

        .noidungchu > a:hover {
            color: blue;
        }

.luotxem {
    display: flex;
}

.luotxemmat {
    margin-left: 12px;
    margin-top: 10px;
}

    .luotxemmat > i {
        font-size: 14px;
        color: brown;
    }

.luotxemso {
    margin-left: 12px;
    margin-top: 10px;
}

    .luotxemso > p {
        font-size: 14px;
        color: brown;
    }

.ngaytao {
    display: flex;
}

.ngaytaokitu {
    margin-left: 13px;
    margin-top: 10px;
}

    .ngaytaokitu > i {
        font-size: 15px;
        color: gray;
    }

.ngaytaochu {
    margin-left: 12px;
    margin-top: 12px;
}

    .ngaytaochu > p {
        font-size: 14px;
        color: gray;
    }

.thoisu {
    display: flex;
}

.imgthoisu1 {
    margin-left: 50px;
    margin-top: 10px;
}

    .imgthoisu1 > img {
        width: 355px;
        height: 220px;
    }

.chuthoisu1 {
    margin-left: 50px;
    margin-top: 10px;
    width: 325px;
}

    .chuthoisu1 > a {
        font-size: 17px;
        text-decoration: none;
        color: black;
    }

        .chuthoisu1 > a:hover {
            color: red;
        }

.thoisutd {
    display: flex;
}

.anhtieudiem {
    margin-left: 50px;
    margin-top: 10px;
}

.anhtieudiemlink {
    width: 355px;
    height: 220px;
}

.chutieudiem {
    margin-left: 50px;
    margin-top: 10px;
    width: 355px;
}

    .chutieudiem > a {
        font-size: 17px;
        text-decoration: none;
        color: black;
    }

        .chutieudiem > a:hover {
            color: blue;
        }

.kitutieudiemngaytao {
    display: flex;
    margin-left: 50px;
    margin-top: 13px;
}

.kitutieudiemngaytaokitu > i {
    color: darkgrey;
    font-size: 14px;
}

.kitutieudiemngaytaochu > p {
    font-size: 14px;
    margin-top: 3px;
    margin-left: 7px;
    color: darkgrey;
}

.tieudiemcon {
    display: flex;
   
}

.tieudiemconanh 
{
    margin-left: 50px;
    margin-top: 20px;
}
.tieudiemconanh >img
{
    width:150px;
    height:120px;
}
.tieudiemconchu 
{
    margin-top: 20px;
    margin-left:5px;
    width:180px;
}
.tieudiemconchu >a
{
    font-size:13px;
    color:black;
    text-decoration:none;
}
.tieudiemconchu>a:hover
{
    color:blue;
}
.kitutieudiemcon
{
    display: flex;
    margin-top: 10px;
    margin-left:5px;
}
.kitutieudiemconkitu>i
{
    color: darkgrey;
    font-size: 12px;
}
.kitutieudiemconchu > p 
{
    font-size: 12px;
    margin-top: 3px;
    margin-left: 7px;
    color: darkgrey;
}
.tieudiemtd
{
    display:flex;
}
.quangcao1
{
    margin-left: 50px;
    margin-top: 10px;
}
.quangcao1img
{
    width: 355px;
    height: 597px;
}
.xahoiimg 
{
    margin-left: 50px;
    margin-top: 20px;
}
.xahoiimglink 
{
    width: 355px;
    height: 293px
}
.xahoichu 
{
    margin-left: 50px;
    margin-top: 10px;
    width:350px
}
.xahoichu >a
{
        font-size: 17px;
        text-decoration: none;
        color: black;
}
.xahoichu>a:hover
{
    color:blue;
}
.xahoitd
{
    display:flex
}
.xahoicon2noidung
{
    display:flex
}
.xahoicon2anh 
{
    margin-left: 50px;
    margin-top: 20px;
}
.xahoicon2anhlink 
{
    width: 150px;
    height: 120px;
}
.xahoicon2chu 
{
    margin-top: 20px;
    margin-left: 5px;
    width: 180px;
}
.xahoicon2chu>a
{
    font-size:13px;
    color:black;
    text-decoration:none;
}
.xahoicon2chu>a:hover
{
    color:blue;
}
.quangcao2
{
    margin-left: 70px;
    margin-top: 20px;
}
.quangcao2link
{
    width: 355px;
    height: 402px
}
.phapluatimg 
{
    margin-left: 50px;
    margin-top: 20px;
}
.phapluatimglink 
{
    width: 355px;
    height: 293px
}
.phapluattd
{
    display:flex;
}
.quangcao3 
{
  margin-left: 70px;
  margin-top: 20px;
}
.quangcao3img 
{
    width: 355px;
    height: 402px;
}
.doisong
{
    display:flex;
}

.doisongimg 
{
    margin-left: 50px;
    margin-top: 20px;
}

.doisongimg1
{
    margin-left: 70px;
    margin-top: 20px;
}
.doisongimglink 
{
    width: 253px;
    height: 180px;
}

.doisongimglink1
{
    width: 213px;
    height: 180px;
}
.chudoisong 
{
    margin-left: 50px;
    margin-top: 10px;
    width: 253px
}
.chudoisong > a 
{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.chudoisong >a:hover
{
    color:blue;
}
.imgthegioi 
{
    margin-left: 50px;
    margin-top: 20px;
}
.imgthegioilink 
{
    width: 213px;
    height: 180px;
}
.thegioi1
{
    display:flex;
}
.thegioi2
{
    display:flex;
}
.chuthegioi 
{
    margin-left: 50px;
    margin-top: 10px;
    width:213px;
}
.chuthegioi >a
{
    font-size:15px;
    color:black;
    text-decoration:none;
}
.chuthegioi >a:hover
{
    color:blue;
}
.thegioi
{
    display:flex;
}
.chuaiframe 
{
    margin-left: 70px;
    margin-top: 20px;
}
.iframecon 
{
    background-color: black;
    width: 355px;
    height: 575px;
}
.iframanh1>iframe
{
    width:355px;
    height:180px;
    margin-top:10px;
}
.anhxe 
{
    margin-left: 50px;
    margin-top: 20px;
}
.anhxelink 
{
    width: 213px;
    height: 180px;
}
.chuxe 
{
    width: 213px;
    margin-left: 50px;
    margin-top: 10px;
}
.chuxe > a 
{
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.chuxe>a:hover
{
    color:blue;
}
.xehoi
{
    display:flex;
}
.xehoi2 
{
    display: flex;
}
.xevacanbiet
{
    display:flex;
}

.chucanbiet
{
    margin-top:-25px;
    margin-left: 50px;
}

.chucanbiet > p 
{
    font-size: 21px;
    color: #3399CC;
}
.canbietthongtin
{
    display:flex;
}
.imgcanbiet 
{
    margin-left: 50px;
    margin-top: 20px;
}
.imgcanbietlink 
{
    width: 203px;
    height: 130px;
}
.chucanbietthongtin 
{
    width: 160px;
    margin-left: 5px;
    margin-top: 20px;
}
.chucanbietthongtin>a
{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.chucanbietthongtin>a:hover
{
    color:blue;
}
.anhgiaitri 
{
    margin-left: 50px;
    margin-top: 20px;
}
.anhgiaitrilink 
{
    width: 203px;
    height: 150px;
}
.giaitrithongtin
{
    display:flex;
}
.chugiaitri 
{
    width: 130px;
    margin-left: 5px;
    margin-top: 20px;
}
.chugiaitri>a 
{
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.chugiaitri>a:hover
{
    color:blue;
} 
.giaitri
{
    display:flex;
}
.giaitri2 
{
    display: flex;
}
.giaitri0 
{
    display: flex;
}
.quangcao4 
{
    margin-left: 70px;
    margin-top: 20px;
}
.quangcao4link 
{
    width: 355px;
    height: 330px;
}
.footer
{
    background-color:#1D8FBD;
    margin-top:50px;
    width:100%;
    height:150px;
    display:flex;
}
.imgfooter>img
{
    width:110%;
    height:150px;
}
.chuaboutus
{
    margin-top:20px;
}
.chuaboutus > p 
{
    font-size:19px;
    color:white;
}
.diachi 
{
    margin-top: 10px;
}
.chudiachi
{
    color:white;
}
.kitudiachi
{
    font-size:13px;
}
.chufollow 
{
    margin-top: 16px;
    margin-left:190px;
}
.chufollow >p
{
    font-size:19px;
    color:white;
}
.kitufollow
{
    display:flex;
}
.kitufollow1 
{
    margin-left: 183px;
    margin-top: 12px;
}
.kitufollow1 >i
{
    color:white;
    font-size:25px;
}
.kitufollow2 
{
    margin-left: 40px;
    margin-top: 12px;
}
.kitufollow2 >i
{
    color:white;
    font-size:25px;
}
.chubanquyen 
{
    background-color: #3399CC;
    width:100%;
    height:28px;
    display:flex;
}
.kituchubanquyen
{
    margin-left:150px;
    margin-top:6px;
}
.kituchubanquyen>p
{
    color:white;
}
.chubanquyenweb
{
    margin-top: 7px;
}
.chubanquyenweb>p
{
    color:white;
    font-size:14px;
    margin-left:3px;
}
.hometheme
{
    margin-top:20px;
    margin-left:60px;
}
.hometheme>a
{
       color: #1D8FBD;
       font-size: 17px;
       text-decoration: none;
}
.hometheme>a:hover
{
    color:black;
}
.theme1
{
    display:flex;
}
.hometheme2 
{
    margin-top: 20px;
    margin-left: 6px;
}
.hometheme2>a
{
       color: #1D8FBD;
       font-size: 17px;
       text-decoration: none;
}
.hometheme2>a:hover
{
      color:black;
}
.theme-content
{
    display:flex;
}
.theme-content-chu 
{
    margin-top: 20px;
    margin-left: 60px;
}
.theme-content-chu>p
{
      font-size: 30px;
}
.theme-content-chu>p:hover
{
    color:blue;
}
.theme-content-btn 
{
    margin-top: 16px;
    margin-left: 657px;
}
.img-content
{
    display:flex;
}
.img-content-img 
{
    margin-top: 20px;
    margin-left: 60px;
}
.img-content-imglink
{
    width:560px;
    height:460px;
    
}
.img-content-imglink:hover
{
    opacity:5;
}
.img-content-chu 
{
    margin-top: -88px;
    margin-left: 90px;
    width:450px;
}
.img-content-chu>a 
{
    color:	#00BFFF;
    text-decoration:none;
    font-size:19px;
}
.img-content-chu>a:hover
{
    color:	#1E90FF;
}
.img-content-ngay
{
    margin-left: 90px;
    margin-top:10px;
}
.img-content-ngay>p
{
    color:black;
    font-size:12px;
}

.img-content2-con 
{
    margin-left: 10px;
    margin-top: 28px;
}
.img-content2-conlink
{
    width:310px;
    height:223px;
}
.img-content2-chu 
{
    margin-top: -59px;
    margin-left: 15px;
    width:305px;
}
.img-content2-chu >a
{
       color:#00BFFF;
      font-size: 15px;
      text-decoration: none;
}
.img-content2-chu>a:hover
{
     color:	#1E90FF;
}
.img-content2
{
    display:flex;
}
.img-content3 
{
    display: flex;
    margin-top:19px;
}
.img-content2-duoi 
{
    display: flex;
}
.img-content2-duoi-img 
{
    margin-left: 60px;
    margin-top: 45px;
}
.img-content2-duoi-img1 
{
    margin-left: 20px;
    margin-top: 45px;
} 
.img-content2-duoi-conlink 
{
    width:390px;
    height:250px;
}
.img-content2-duoi-chu 
{
    margin-left: 74px;
    margin-top: 10px;
    width:350px;
}
.img-content2-duoi-chu >a
{
      color:black;
      font-size: 17px;
      text-decoration: none;
}
.img-content2-duoi-chu >a:hover
{
    color:blue;
}
.img-content-duoi-ngay 
{
    margin-left: 74px;
    margin-top: 10px;
}
.img-content-duoi-ngay >p
{
     color:black;
    font-size:10px;
}
.img-content-duoi-ngay>p:hover
{
    color:blue;
}
.div-content2-duoi-all
{
    display:flex;
}
.infor-img 
{
    margin-left: 60px;
    margin-top: 45px;
}
.infor-img >img
{
    width:260px;
    height:200px;
    border-radius:50%;
}
.infor-ten 
{
    margin-left: 125px;
    margin-top:10px;
}
.infor-ten >p
{
      color:black;
      font-size: 19px;
}
.infor-congviec 
{
    margin-left: 70px;
    margin-top: 10px;
    width:260px;
}
.post-title>h2
{
    margin-top:20px;
    margin-left:65px;
    font-size:33px;
}
.post-content 
{
    margin-top: 20px;
    font-size:18px;
    margin-left:65px;
}
.time 
{
    display: flex;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 67px;
}
.time-hn 
{
    color: navy;
} 
.time-hn:hover
{
    color:black;
} 
.time-ngay
{
    margin-left:10px;
}
.time-ngay>i
{
    font-size: 10px;
    color:blue
}
.time-ngay>i:hover
{
    color:black;
}
.trangchudetail 
{
    display: flex;
}
.chutrangchu
{
    margin-left:60px;
    margin-top:10px;
}
.chutrangchu>a
{
    font-size:17px;
    text-decoration:none;
    color:darkgrey;
}
.chutrangchu>a:hover
{
    color:blue;
}
.theloaitrangdetail 
{
    margin-left: 10px;
    margin-top: 13px;
}
.theloaitrangdetail >p
{
    font-size:13px;
    text-decoration:none;
    color:darkgrey;
}
.theloaitrangdetail >p:hover
{
     color:blue;
}
.content
{
    display:flex;
}
.post-content
{
    width:810px;
}
.post-title 
{
    width: 830px;
}
.post-title-to
{
    display:flex
}
.baivietganday 
{
    margin-left: 140px;
    margin-top: 22px;
}
.chuganday
{
    display:flex;
    width:230px;
    height:28px;
    background-color:black;
}
.chugandayi > i 
{
    color: white;
    font-size: 17px;
    margin-left: 5px;
    margin-top:8px;
}
.chugandayp > p 
{
    color: white;
    font-size: 20px;
    margin-top:5px;
    margin-left:38px;
}
.noidungganday
{
    display:flex;
    margin-top:10px;
}
.noidungganday
{
    margin-left:-38px;
    margin-top:-70px;
}
.noidungganday1 
{
    margin-left: -38px;
    margin-top:10px;
}
.noidungganday>a
{
    width:230px;
    font-size:18px;
    text-decoration:none;
}
.noidungganday1>a
{
    width:230px;
    font-size:18px;
    text-decoration:none;
}
.noidungganday1>a:hover
{
    color:lightblue;
}
.noidungganday>a:hover
{
    color:lightblue;
}
.baivietganday3
{
    display: flex;
    margin-top:70px;
}

.baivietgandayimglink
{
    width:130px;
    height:90px;
}
.baivietgandayimg 
{
    margin-left: 95px;
    margin-top:-40px;
}
.baivietgandaychu {
    margin-left: 10px;
    margin-top: -40px;
    width:100px;
}
.baivietgandaychu>a
{
    font-size:14px;
    text-decoration:none;
}
.baivietgandaygio {
    width: 180px;
    margin-left: 10px;
    margin-top:10px;
}
.baivietgandaygio>i
{
    font-size:11px;
}
.baivietgandaynews 
{
    background-color: red;
    width: 57px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius:50%;
}
.baivietgandaynews>p
{
    font-size:17px;
    padding-left:12px;
    color:white;
}
.quangcao8
{
    margin-left:95px;
    margin-top:60px;
}
.quangcao8link
{
    width:230px;
    height:350px;
}
.hastag
{
    display:flex;
    margin-left:63px;
    margin-top:50px;
}
.hastag1>a
{
    font-size:13px;
}
.hastag2
{
    margin-left:88px;
}
.hastag2 > a {
    font-size: 13px;
}
.tieudiemtdandqc
{
    display:flex
}
.chugiaitri>a:hover
{
    color:blue;
}
.hastags-chutieude
{
    margin-left:62px;
    font-size:25px;
    margin-top:20px;
}
.hastags-imglink {
    margin-left: 62px;
    margin-top: 40px;
    width:300px;
}
.hastags-content
{
    display:flex;
}
.hastagsto
{
    margin-top:-20px;
}
.hastags-chu {
    margin-top: 40px;
    margin-left: 10px;
    width: 300px;
}
.hastags-chu>a
{
    color:black;
    text-decoration:none;
}
.hastag-ngaytao 
{
    margin-top: 20px;
    margin-left: 10px;
}
.hastag-ngaytao >i
{
    font-size:12px;
    color:darkgray;
}
.btndetail
{
    margin-left:65px;
    margin-top:20px
}
.mySlides {
    display: none;
    width: 1150px;
    height: 510px;
    margin-left: 50px;
    margin-top:30px;
}
.w3-content w3-section
{
    margin-left:50px;
}
.myTitle>h1
{
    margin-left: 50px;
    margin-top: -30px;
    font-size: 25px;
    color:white;
}
.myTitle 
{
    text-decoration: none;
}
.comment
{
    margin-top:20px;
    margin-left:65px;
    background-color:lightcyan;
    width:680px;
    
}
.comment-1 
{
    display: flex;
}
.comment-1i > i {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 30px;
    color: #1D8FBD;
}
.comment-2i > i {
    margin-left: 30px;
    margin-top: 6px;
    font-size: 28px;
    color: #1D8FBD;
}
.comment-1-input 
{
    margin-left: 30px;
    margin-top: 20px;
}
.comment-1-input>input
{
    width:180px;
    height:33px;
    border-color: #1D8FBD;
    outline:none;
}
.comment-2-textarea 
{
    margin-left: 38px;
}
.comment-2-textarea>input {
  background-color:aliceblue
}
.comment-2 {
    margin-top: 20px;
    display: flex;
}
.btnsendcomment
{
    margin-left:180px;
    margin-top:10px;
}
.fromcomment 
{
    margin-top: 30px;
    margin-left: 60px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width:685px;
}
.fromcomment-i > i {
    margin-left: 30px;
    margin-top: 20px;
}
.cmtload
{
    display:flex;
}
.cmtloadimg>img
{
    margin-left: 30px;
    width:60px;
    height:40px;
    margin-top:20px;
    border-radius:50px;
}
.cmtinput 
{
    margin-left: 20px;
    margin-top:22px;
}
.cmtinputcontent 
{
    margin-left: 20px;
    margin-top: 5px;
}
.cmtinputcoment 
{
    margin-left: 20px;
    margin-top: 5px;
}
.cmtinput > p {
    padding-top: 5px;
}
.cmtinputcoment>p
{
    font-size:12px;
}
.cmtcmtuser {
    background-color: antiquewhite;
    margin-left: 20px;
    width: 210px;
    border-radius: 30px;
}