
.tieude 
{
    background-color: #111111;
    width: 100%;
    height: 35px;
}
.thoitiet 
{
    display: flex;
}
.thoitietdammay > i 
{
    color: white;
    margin-top: 9px;
    margin-left: 150px;
}
.thoitietthongtin > p 
{
    color: white;
    margin-top: 11px;
    margin-left: 20px;
    font-size: 14px;
}
.nhietdo 
{
    color: white
}
.thoitietngaythang > p 
{
    color: white;
    margin-top: 11px;
    margin-left: 30px;
    font-size: 14px;
}
.logo1 > i 
{
    color: white;
    margin-top: 9px;
    margin-left: 485px;
    font-size: 16px;
}
.logo2 > i 
{
    color: white;
    margin-top: 9px;
    margin-left: 30px;
    font-size: 16px;
}
.tieude2 
{
    display: flex;
}
.imglogo > img 
{
    width: 600px;
    height: 270px;
}
.imggif 
{
    background-color: #1D8FBD;
    width: 700px;
    height: 270px;
}
.tieude3 
{
    background-color: #3399CC;
    width: 100%;
    height: 55px;
    display: flex;
    margin-top:-3px
}
.theloai2 
{
    margin-left: 50px;
    margin-top: 20px
}
.theloai2 > a 
{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.xahoi 
{
    margin-left: 62px;
    margin-top: 20px
}
.xahoi > a 
{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.ip-search 
{
    width: 215px;
    border-color: white;
    outline: none;
    margin-top: 15px;
    margin-left:50px
}
.div-bt 
{
    margin-left: 233px;
    margin-top: -21px;
}
.div-bt > button 
{
     background-color: white;
     border-color: white;
     outline: none;
     height: 22px;
}
.tieudiem
{
    display:flex;
}
.imgcontentt>img
{
  margin-left:300px;
}