
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div>
<div class="chutinmoi">
    <p>Tin mới</p>
</div>
<div class="mau">
 
</div>
</div>
<div class="tieudiem">
    <div class="tieudiem1">
        <div class="content1">
            <div class="imgcontentt">
              <img src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/06/202205260825345638pho-chu-tich-quoc-hoi-tran-quang-phuong-2-crop-1654501911483.jpeg" />
            </div>
            <div class="chuduoianhcontent">
                <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
            </div>
            <div class="btn-content">
                <a href="d" class="btn btn-primary btn-sm" style="color:white">Xem thêm</a>
            </div>
        </div>
    </div>
    <div class="tieudiem2">
        <div class="content2">
            <div class="imgcontent2">
                <img src="https://icdn.dantri.com.vn/zoom/233_155/2022/06/06/gong1-1654442896834-1654519499500.jpeg" />
            </div>
            <div class="noidung">
                <div class="noidungchu">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div class="luotxem">
                    <div class="luotxemmat">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="luotxemso">
                        <p>2686</p>
                    </div>
                </div>
                <div class="ngaytao">
                    <div class="ngaytaokitu">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <div class="ngaytaochu">
                        <p>05/11/2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content2">
            <div class="imgcontent2">
                <img src="https://icdn.dantri.com.vn/zoom/233_155/2022/06/06/gong1-1654442896834-1654519499500.jpeg" />
            </div>
            <div class="noidung">
                <div class="noidungchu">
                    <a href="f">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div class="luotxem">
                    <div class="luotxemmat">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="luotxemso">
                        <p>2686</p>
                    </div>
                </div>
                <div class="ngaytao">
                    <div class="ngaytaokitu">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <div class="ngaytaochu">
                        <p>05/11/2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>Thời sự</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="thoisutd">
<div class="thoisu">
    <div class="thoisu1">
        <div class="imgthoisu1">
            @*<figure class="zoom" style="background: url(https://icdn.dantri.com.vn/zoom/516_344/2022/06/07/anh-ky-luat-crop-1654537234866.jpeg)" onmousemove="zoom(event)" ontouchmove="zoom(event)">
                <img src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/07/anh-ky-luat-crop-1654537234866.jpeg" />
            </figure>*@
            <img src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/07/anh-ky-luat-crop-1654537234866.jpeg" />
        </div>
        <div class="chuthoisu1">
            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất th   ường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
        </div>
    </div>
</div>

<div class="thoisu">
    <div class="thoisu1">
        <div class="imgthoisu1">
            <img src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/07/anh-ky-luat-crop-1654537234866.jpeg" />
        </div>
        <div class="chuthoisu1">
            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
        </div>
    </div>
</div>

<div class="thoisu">
    <div class="thoisu1">
        <div class="imgthoisu1">
          <img src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/07/anh-ky-luat-crop-1654537234866.jpeg" />
        </div>
        <div class="chuthoisu1">
            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
        </div>
    </div>
</div>

</div>

<div>
    <div class="chutinmoi">
        <p>Tiêu điểm</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdautieudiem">
<div class="tieudiemtd">

    <div class="tieudiem1">
        <div class="anhtieudiem">
            <a href="ds"><img class="anhtieudiemlink" src="https://icdn.dantri.com.vn/thumb_w/660/2021/11/23/bong-ban-1637663233926.jpg" /></a>
        </div>
        <div class="chutieudiem">
            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
        </div>
        <div class="kitutieudiem">
            <div class="kitutieudiemngaytao">
                <div class="kitutieudiemngaytaokitu">
                    <i class="fas fa-calendar"></i>
                </div>
                <div class="kitutieudiemngaytaochu">
                    <p>05/11/2022</p>
                </div>
            </div>
        </div>

        <div class="tieudiemcon">
            <div class="tieudiemconanh">
                <img src="https://icdn.dantri.com.vn/zoom/233_155/2022/06/07/nguyen-hong-dien-1654598346271.jpeg" />
            </div>
            <div>
                <div class="tieudiemconchu">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tieudiemcon">
            <div class="tieudiemconanh">
                <img src="https://icdn.dantri.com.vn/zoom/233_155/2022/06/07/nguyen-hong-dien-1654598346271.jpeg" />
            </div>
            <div>
                <div class="tieudiemconchu">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tieudiem1">
        <div class="anhtieudiem">
            <a href="ds"><img class="anhtieudiemlink" src="https://icdn.dantri.com.vn/thumb_w/660/2021/11/23/bong-ban-1637663233926.jpg" /></a>
        </div>
        <div class="chutieudiem">
            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
        </div>
        <div class="kitutieudiem">
            <div class="kitutieudiemngaytao">
                <div class="kitutieudiemngaytaokitu">
                    <i class="fas fa-calendar"></i>
                </div>
                <div class="kitutieudiemngaytaochu">
                    <p>05/11/2022</p>
                </div>
            </div>
        </div>

        <div class="tieudiemcon">
            <div class="tieudiemconanh">
                <img src="https://icdn.dantri.com.vn/zoom/233_155/2022/06/07/nguyen-hong-dien-1654598346271.jpeg" />
            </div>
            <div>
                <div class="tieudiemconchu">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tieudiemcon">
            <div class="tieudiemconanh">
                <img src="https://icdn.dantri.com.vn/zoom/233_155/2022/06/07/nguyen-hong-dien-1654598346271.jpeg" />
            </div>
            <div>
                <div class="tieudiemconchu">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quangcao1">
       <a href="d"><img class="quangcao1img" src="https://nca.vn/wp-content/uploads/2021/10/Advertising-Agency-la%CC%80-gi%CC%80-7-2.gif"/></a>
    </div>
</div>
</div>


<div>
    <div class="chutinmoi">
        <p>Xã hội</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdauxahoi">
<div class="xahoitd">
    <div class="xahoicon">
        <div class="xahoiimg">
          <a><img class="xahoiimglink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/08/anh-chan-dung-2-1654689433515.jpeg" /></a>
        </div>
        <div class="xahoichu">
            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
        </div>
        <div class="xahoingay">
            <div class="kitutieudiem">
                <div class="kitutieudiemngaytao">
                    <div class="kitutieudiemngaytaokitu">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <div class="kitutieudiemngaytaochu">
                        <p>05/11/2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
    <div class="xahoicon2">
        <div class="xahoicon2noidung">
            <div class="xahoicon2anh">
                <a href="d"><img class="xahoicon2anhlink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/08/vnapotaltongbithunguyenphutronghoidamtructuyenvoitongthonghanquocyoonsuk-yeolstand-1654671523052.jpg" /></a>
            </div>
            <div>
                <div class="xahoicon2chu">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="xahoicon2noidung">
            <div class="xahoicon2anh">
                <a href="d"><img class="xahoicon2anhlink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/08/vnapotaltongbithunguyenphutronghoidamtructuyenvoitongthonghanquocyoonsuk-yeolstand-1654671523052.jpg" /></a>
            </div>
            <div>
                <div class="xahoicon2chu">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="xahoicon2noidung">
            <div class="xahoicon2anh">
                <a href="d"><img class="xahoicon2anhlink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/08/vnapotaltongbithunguyenphutronghoidamtructuyenvoitongthonghanquocyoonsuk-yeolstand-1654671523052.jpg" /></a>
            </div>
            <div>
                <div class="xahoicon2chu">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="quangcao2">
      <a href="ad"><img class="quangcao2link" src="http://www.clickz.com/wp-content/uploads/2016/05/gif-netflix.gif" /></a>
    </div>

</div>
</div>

<div>
    <div class="chutinmoi">
        <p>Pháp luật</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdauphapluat">
    <div class="phapluattd">

        <div>
        <div class="phapluatimg">
            <a href="d"><img class="phapluatimglink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/08/anh-phoc-2-1654655044116-1654660092597.jpeg" /></a>
        </div>
        <div class="xahoichu">
            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
        </div>
        <div class="xahoingay">
            <div class="kitutieudiem">
                <div class="kitutieudiemngaytao">
                    <div class="kitutieudiemngaytaokitu">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <div class="kitutieudiemngaytaochu">
                        <p>05/11/2022</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div>
            <div class="xahoicon2">
                <div class="xahoicon2noidung">
                    <div class="xahoicon2anh">
                        <a href="d"><img class="xahoicon2anhlink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/08/28619874530457083290117235254049708106551127n-1654655617182.jpg" /></a>
                    </div>
                    <div>
                        <div class="xahoicon2chu">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="xahoicon2noidung">
                    <div class="xahoicon2anh">
                        <a href="d"><img class="xahoicon2anhlink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/08/28619874530457083290117235254049708106551127n-1654655617182.jpg" /></a>
                    </div>
                    <div>
                        <div class="xahoicon2chu">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="xahoicon2noidung">
                    <div class="xahoicon2anh">
                        <a href="d"><img class="xahoicon2anhlink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/08/28619874530457083290117235254049708106551127n-1654655617182.jpg" /></a>
                    </div>
                    <div>
                        <div class="xahoicon2chu">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="quangcao3">
            <a href="ds"><img class="quangcao3img" src="https://noichinh.vn/dataimages/201701/original/682789_BNCTW.gif" /></a>
        </div>
    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>Thế giới</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdauthegioi">
    <div class="thegioi">
    <div>
        <div class="thegioi1">
            <div>
                <div class="imgthegioi">
                    <a href="d"><img class="imgthegioilink" src="https://icdn.dantri.com.vn/zoom/252_168/2022/06/09/capture-1654752183873.gif" /></a>
                </div>
                <div class="chuthegioi">
                    <a href="g">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
            </div>
            <div>
                <div class="imgthegioi">
                    <a href="d"><img class="imgthegioilink" src="https://icdn.dantri.com.vn/zoom/252_168/2022/06/09/capture-1654752183873.gif" /></a>
                </div>
                <div class="chuthegioi">
                    <a href="g">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
            </div>
            <div>
                <div class="imgthegioi">
                    <a href="d"><img class="imgthegioilink" src="https://icdn.dantri.com.vn/zoom/252_168/2022/06/09/capture-1654752183873.gif" /></a>
                </div>
                <div class="chuthegioi">
                    <a href="g">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
            </div>
        </div>

        <div>
            <div class="thegioi2">
                <div>
                    <div class="imgthegioi">
                        <a href="d"><img class="imgthegioilink" src="https://icdn.dantri.com.vn/zoom/252_168/2022/06/09/capture-1654752183873.gif" /></a>
                    </div>
                    <div class="chuthegioi">
                        <a href="g">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                    </div>
                </div>

                <div>
                    <div class="imgthegioi">
                        <a href="d"><img class="imgthegioilink" src="https://icdn.dantri.com.vn/zoom/252_168/2022/06/09/capture-1654752183873.gif" /></a>
                    </div>
                    <div class="chuthegioi">
                        <a href="g">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                    </div>
                </div>

                <div>
                    <div class="imgthegioi">
                        <a href="d"><img class="imgthegioilink" src="https://icdn.dantri.com.vn/zoom/252_168/2022/06/09/capture-1654752183873.gif" /></a>
                    </div>
                    <div class="chuthegioi">
                        <a href="g">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quangcaoifarme">
        <div class="chuaiframe">
            <div class="iframecon">

                <div class="iframanh">
                    <iframe width="355" height="180" src="https://www.youtube.com/embed/vyovTCA8B9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="iframanh1">
                    <iframe width="355" height="180" src="https://www.youtube.com/embed/JFX_66bFjeo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="iframanh1">
                    <iframe width="355" height="180" src="https://www.youtube.com/embed/vyovTCA8B9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>


<div>
    <div class="chutinmoi">
        <p>Đời sống</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdaudoisong">
    <div class="doisong">

        <div class="doisong1">
            <div class="doisongimg">
                <a href="f"><img class="doisongimglink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/09/u23vn-1654698913149-1654730332060.jpeg" /></a>
            </div>
            <div class="chudoisong">
                <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
            </div>
        </div>

        <div class="doisong1">
            <div class="doisongimg">
                <a href="f"><img class="doisongimglink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/09/u23vn-1654698913149-1654730332060.jpeg" /></a>
            </div>
            <div class="chudoisong">
                <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
            </div>
        </div>

        <div class="doisong1">
            <div class="doisongimg">
                <a href="f"><img class="doisongimglink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/09/u23vn-1654698913149-1654730332060.jpeg" /></a>
            </div>
            <div class="chudoisong">
                <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
            </div>
        </div>

        <div class="doisong1">
            <div class="doisongimg">
                <a href="f"><img class="doisongimglink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/09/u23vn-1654698913149-1654730332060.jpeg" /></a>
            </div>
            <div class="chudoisong">
                <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>Xe hơi</p>
    </div>
    <div class="mau">

    </div>
</div>



<div class="batdauxe">
    <div class="xevacanbiet">
    <div class="xe">
        <div class="xehoi">

            <div class="xe1">
                <div class="anhxe">
                    <a href="d"><img class="anhxelink" src="https://photo-cms-xedoisong.zadn.vn/w700/Uploaded/2022/ycivopcg/2021_11_06/toyota/xedoisong_2022_toyota_camry_facelift_sap_ve_viet_nam_1_iklf.jpg" /></a>
                </div>
                <div class="chuxe">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
            </div>

            <div class="xe1">
                <div class="anhxe">
                    <a href="d"><img class="anhxelink" src="https://photo-cms-xedoisong.zadn.vn/w700/Uploaded/2022/ycivopcg/2021_11_06/toyota/xedoisong_2022_toyota_camry_facelift_sap_ve_viet_nam_1_iklf.jpg" /></a>
                </div>
                <div class="chuxe">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
            </div>

            <div class="xe1">
                <div class="anhxe">
                    <a href="d"><img class="anhxelink" src="https://photo-cms-xedoisong.zadn.vn/w700/Uploaded/2022/ycivopcg/2021_11_06/toyota/xedoisong_2022_toyota_camry_facelift_sap_ve_viet_nam_1_iklf.jpg" /></a>
                </div>
                <div class="chuxe">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
            </div>

        </div>

        <div class="xehoi2">

            <div class="xe1">
                <div class="anhxe">
                    <a href="d"><img class="anhxelink" src="https://photo-cms-xedoisong.zadn.vn/w700/Uploaded/2022/ycivopcg/2021_11_06/toyota/xedoisong_2022_toyota_camry_facelift_sap_ve_viet_nam_1_iklf.jpg" /></a>
                </div>
                <div class="chuxe">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
            </div>

            <div class="xe1">
                <div class="anhxe">
                    <a href="d"><img class="anhxelink" src="https://photo-cms-xedoisong.zadn.vn/w700/Uploaded/2022/ycivopcg/2021_11_06/toyota/xedoisong_2022_toyota_camry_facelift_sap_ve_viet_nam_1_iklf.jpg" /></a>
                </div>
                <div class="chuxe">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
            </div>

            <div class="xe1">
                <div class="anhxe">
                    <a href="d"><img class="anhxelink" src="https://photo-cms-xedoisong.zadn.vn/w700/Uploaded/2022/ycivopcg/2021_11_06/toyota/xedoisong_2022_toyota_camry_facelift_sap_ve_viet_nam_1_iklf.jpg" /></a>
                </div>
                <div class="chuxe">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
            </div>
        </div>
    </div>

   <div class="canbiet">
       <div>
           <div class="chucanbiet">
               <p>Cần biết</p>
           </div>
           <div class="mau">

           </div>
       </div>
       <div>
           <div>
               <div class="canbietthongtin">
                   <div class="imgcanbiet">
                       <a href="d"><img class="imgcanbietlink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/09/bidenopecillustration-1654758778676.png" /></a>
                   </div>
                   <div>
                       <div class="chucanbietthongtin">
                           <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                       </div>
                       <div>
                           <div class="kitutieudiemcon">
                               <div class="kitutieudiemconkitu">
                                   <i class="fas fa-calendar"></i>
                               </div>
                               <div class="kitutieudiemconchu">
                                   <p>05/11/2022</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="canbietthongtin">
                   <div class="imgcanbiet">
                       <a href="d"><img class="imgcanbietlink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/09/bidenopecillustration-1654758778676.png" /></a>
                   </div>
                   <div>
                       <div class="chucanbietthongtin">
                           <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                       </div>
                       <div>
                           <div class="kitutieudiemcon">
                               <div class="kitutieudiemconkitu">
                                   <i class="fas fa-calendar"></i>
                               </div>
                               <div class="kitutieudiemconchu">
                                   <p>05/11/2022</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="canbietthongtin">
                   <div class="imgcanbiet">
                       <a href="d"><img class="imgcanbietlink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/09/bidenopecillustration-1654758778676.png" /></a>
                   </div>
                   <div>
                       <div class="chucanbietthongtin">
                           <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                       </div>
                       <div>
                           <div class="kitutieudiemcon">
                               <div class="kitutieudiemconkitu">
                                   <i class="fas fa-calendar"></i>
                               </div>
                               <div class="kitutieudiemconchu">
                                   <p>05/11/2022</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="canbietthongtin">
                   <div class="imgcanbiet">
                       <a href="d"><img class="imgcanbietlink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/06/09/bidenopecillustration-1654758778676.png" /></a>
                   </div>
                   <div>
                       <div class="chucanbietthongtin">
                           <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                       </div>
                       <div>
                           <div class="kitutieudiemcon">
                               <div class="kitutieudiemconkitu">
                                   <i class="fas fa-calendar"></i>
                               </div>
                               <div class="kitutieudiemconchu">
                                   <p>05/11/2022</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</div>

<div>
    <div class="chutinmoi">
        <p>Giải trí</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdaugiaitri">
    <div class="giaitri0">
    <div>
    <div class="giaitri">

        <div class="giaitrithongtin">
            <div class="anhgiaitri">
                <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/360_240/2022/06/04/thanh-long00004-1654278393828.jpeg" /></a>
            </div>
            <div>
                <div class="chugiaitri">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="giaitrithongtin">
            <div class="anhgiaitri">
                <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/360_240/2022/06/04/thanh-long00004-1654278393828.jpeg" /></a>
            </div>
            <div>
                <div class="chugiaitri">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="giaitri2">
        <div class="giaitrithongtin">
            <div class="anhgiaitri">
                <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/360_240/2022/06/04/thanh-long00004-1654278393828.jpeg" /></a>
            </div>
            <div>
                <div class="chugiaitri">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="giaitrithongtin">
            <div class="anhgiaitri">
                <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/360_240/2022/06/04/thanh-long00004-1654278393828.jpeg" /></a>
            </div>
            <div>
                <div class="chugiaitri">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div>
                    <div class="kitutieudiemcon">
                        <div class="kitutieudiemconkitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemconchu">
                            <p>05/11/2022</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quangcao4">
          <a href="d"><img class="quangcao4link" src="https://cdn.dribbble.com/users/6178642/screenshots/14489706/comp_2.gif" /></a>
      </div>

</div>
</div>

<div>
    <div class="chutinmoi">
        <p>Công nghệ</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdaucongnghe">
    <div class="giaitri0">
        <div>
            <div class="giaitri">

                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/06/vnnic-internet-conference-crop-1654502133193.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/06/vnnic-internet-conference-crop-1654502133193.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="giaitri2">
                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/06/vnnic-internet-conference-crop-1654502133193.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/06/vnnic-internet-conference-crop-1654502133193.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="quangcao4">
            <a href="d"><img class="quangcao4link" src="https://cafefcdn.com/203337114487263232/2021/8/17/photo-1-1629203401087280919071.gif" /></a>
        </div>
    </div>
</div>