
@{
    ViewBag.Title = "Theme";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="theme1">
<div class="hometheme">
    <a href="~/Views/User/Home.cshtml">Trang Chủ ></a>
</div>
<div class="hometheme2">
    <a href="~/Views/User/Home.cshtml">Pháp Luật</a>
</div>
</div>
<div class="theme-content">
    <div class="theme-content-chu">
        <p>PHÁP LUẬT</p>
    </div>
    <div class="dropdown dropend theme-content-btn">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
           THỂ LOẠI
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Mới nhất</a></li>
            <li><a class="dropdown-item" href="#">Đọc nhiều nhất</a></li>
            <li><a class="dropdown-item " href="#">Ngẫu nhiên</a></li>
        </ul>
    </div>
</div>
<div class="img-content">
    <div>
    <div class="img-content1">
        <div class="img-content-img">
          <a href="d"><img class="img-content-imglink" src="https://icdn.dantri.com.vn/thumb_w/770/2022/04/14/sang-1649923816319.jpeg" /></a>
        </div>
        <div class="img-content-chu">
          <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
        </div>
        <div class="img-content-ngay">
            <p>HN NEWS 05-11-2022</p>
        </div>
    </div>
    </div>
    <div>

    </div>
</div>

